*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedordos{
   display: flex;
   flex-direction: column;
}
.contenedoruno{ display: flex;
    align-items: center;
    justify-content: center;
}

.texto{font-weight: bold;}
.textop{font-weight: bold;
   }
.textp{
    font-size: 1.5em;
}    

.buttonn {
    background-color: #6da4c2;
    border-radius: 12px;
    margin: 20px;
    align-items: center;
    padding: 0.1rem;
    box-sizing: border-box;
    color: aliceblue;
    font-size: 1.5rem;
}
.buttonn:hover {background-color: #e5e5e5;}
.notif {
    color: #f5f5f5;
}
hr{
    height: 1px;
  background-color: #817e7e;
}