*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedordos{
   display: flex;
   flex-direction: column;
}
.contenedoruno{ display: flex;
    align-items: center;
    justify-content: center;
}

.texto{font-weight: bold;}
.textop{font-weight: bold;
   }
.textp{
    font-size: 1.5em;
}    