.counter{
    width: fit-content;
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
}
.button {
    background-color: #e25a87;
    border-radius: 12px;
    padding: 0.2rem;
    color: aliceblue;
}

.button:hover {background-color: rgb(136, 136, 136);}

.buttondemenosymas {background-color: rgb(226, 90, 135);
    border-radius: 12px;
    margin: 10px;
    padding: 5px;
    color: aliceblue;}
.buttondemenosymas:hover {background-color: rgb(136, 136, 136);}  

